
.calculator{
    background-color:rgb(42, 28, 234);
    padding: 10px;
    
    height: 500px;
    width: 500px;
    border-radius: 15px;
   
}
.casio{
    color: white;
    margin: 50%;
    
}

.input_box{
    background-color: rgb(163, 246, 254);
    color:rgb(92, 22, 106);
    border-radius: 5px;
    width: 98%;
    height: 50%;

}
#btn{
    background-color: rgb(91, 193, 221);
}
input[type=button]{
    background-color: rgb(62, 180, 238);
    font-weight: bolder;
    height: 70px;
    width: 40%;
    color: white;
}
input:active[type=button]{
    background-color: rgb(247, 121, 195);
    box-shadow: inset 0px 0px 6px rgb(192, 245, 255);

}